html{overflow-y:scroll;overflow-x:auto}
body,form,ul{margin:0}
img{border:0}
td{font-size:14px}
div{font-size:12px;line-height:18px}
a{color:#0000CC;text-decoration:none}
a:hover {color:#cc0000;text-decoration:underline}
hr{border-top:1px solid #aaaaaa}
ul{padding-left:16px}

#hd{margin-top:8px;margin-bottom:4px;width:1240px;font-family:Verdana;}
#bar{height:32px;line-height:32px;width:1240px;
font-size:14px;font-family:Verdana;color:#ffffff;text-align:center;font-weight:bold;
background-color:#0077cc}
#bar a{padding:7px 6px;color:#ffffff}
#bar a:hover {height:32px;background:#00aaff;color:#ffffcc;text-decoration:none}
#ft{clear:both;color:#666666;font-size:12px;font-family:Verdana;text-align:center}
#ft a{color:#3333cc}

#main{padding:4px 10px 0 10px;width:1230px;font-family:Verdana}
#left{clear:left;margin-right:230px;}
#right{float:right;width:225px;}

.pt{padding-left:10px;height:28px;line-height:28px;font-size:14px;font-weight:bold}
.pb{line-height:20px;font-size:14px}
.pt,.pb{border-left:1px solid #00a7dd;border-right:1px solid #00a7dd}
.pt{margin-top:3px;border-top:1px solid #00a7dd;background:#88c7ff}
.pb{margin-bottom:3px;padding:8px 8px 8px 10px;border-bottom:1px solid #00a7dd}

.time{float:right;margin-right:8px;padding:5px 2px 3px;font-size:12px;font-style:italic}
.pno{margin-left:-8px;padding:3px 8px;border-right:1px solid #ffffff}
.ntc{border:#ffb7d7 1px solid;padding:5px 5px 5px 5px;color:#ff4757;background-color:#ffe7f3}

